<div class="container container-blank">
    <h2 style="text-align: center;padding-top: 30px;">Três cidades com maior número de pontos de atendimento</h2>
    <hr>
    <canvas id="most"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Três cidades com menor número de pontos de atendimento</h2>
    <hr>
    <canvas id="less"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Três cidades com maior número de avaliações</h2>
    <hr>
    <canvas id="mostRated"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Três cidades com menor número de avaliações</h2>
    <hr>
    <canvas id="lessRated"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Três cidades com a melhor pontuação geral</h2>
    <hr>
    <canvas id="mostPopular"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Três cidades com a pior pontuação geral</h2>
    <hr>
    <canvas id="lessPopular"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Resumo de usuários cadastrados</h2>
    <hr>
    <canvas id="users"></canvas>
    <h2 style="text-align: center;padding-top: 30px;">Pontuação média das cidades por item</h2>
    <hr>
    <canvas id="radar"></canvas>
</div>
