<div class="container">
    <div class="card-columns">
        <div ng-repeat="station in vm.stations" class="card station-card" ng-click="vm.openStation(station)">
            <!--<div class="portlet">-->
            <img ng-src="{{station.urlPhoto}}" class="card-img-top img-responsive portlet-img">
            <div class="card-block">
                <h3>{{station.name}}</h3>
                <i ng-repeat="star in station.stars track by $index" class="fa {{star}} score-star-general" aria-hidden="true"></i>
                <hr/> {{station.scoreAverage}}
                <br> {{station.location}}
            </div>
        </div>
    </div>
</div>
</div>
