<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-station">
				<div class="panel-heading">
					<h4>
						{{sc.station.name}}
					</h4>
					<div class="row"> 
						<ul rn-carousel rn-carousel-index="carouselImages" rn-carousel-controls class="carousel2" style="height: 500px">
	                        <li ng-repeat="image in sc.images">
	                            <img src="{{image.url}}"/>
	                        </li>
	                    </ul>
	                    <div rn-carousel-indicators ng-if="sc.images.length > 1" slides="sc.images" rn-carousel-index="carouselImages"></div>
					</div>
					<hr>
				</div>
				<div class="panel-body">
					<h5>
						Avaliações dos usuários
					</h5>
					<div class="row">
						<div class="review" ng-repeat="review in sc.station.reviews | filter: sc.filterStationReviews">
							<div class="row">
								<div ng-repeat="score in review.scores">
									{{score.label}} : 
									<div class="score-star"><i ng-repeat="star in score.score" class="fa fa-star" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="row">
								Opinião do usuário: {{review.comment}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>