<div class="container container-white">
    <br>
    <form name="formSuggestion" class="form-horizontal">
        <legend ng-show="ctrl.new">Sugerir novo posto de atendimento<i class="fa fa-plus-square" aria-hidden="true"></i></legend>
        <legend ng-show="!ctrl.new">Aprovar posto de atendimento<i class="fa fa-plus-square" aria-hidden="true"></i></legend>
        <br>
        <label for="name"><b>Nome da instituição:</b></label>
        <br>
        <input type="text" id="name" class="form-control" placeholder="Nome da instituição" ng-model="ctrl.station.name">
        <br>
        <label for="map"><b>Conhece a localização? Selecione no mapa abaixo:</b></label>
        <br>
        <div class="form-group">
            <div>
                <ng-map id="map" class="card-img-top imagem" center="[40.74, -74.18]"></ng-map>
            </div>
        </div>
        <br>
        <label for="name"><b>Possui uma imagem?</b></label>
        <br>
        <div class="form-group">
            <div>
                <img class="card-img-top imagem" ng-src="{{ctrl.urlImagem}}">
            </div>
        </div>
        <span class="btn btn-file btn-info btn-sm">Selecionar imagem
            <input name="imagem" type="file" ng-model="img" onchange="angular.element(this).scope().ctrl.loadImage(this.files[0])">
        </span>
        <br><br>
        <div class="row">
            <div class="col-xs-4 col-xs-6">
               <button class="btn btn-success btn-bottom" ng-show="ctrl.new" ng-click="ctrl.add(ctrl.station)">Enviar para aprovação</button>
               <button class="btn btn-success btn-bottom" ng-show="!ctrl.new" ng-click="ctrl.approve(ctrl.station)">Aprovar</button>
               <button class="btn btn-danger btn-bottom" ng-show="!ctrl.new" ng-click="ctrl.remove(ctrl.station._id)">Recusar</button>
               <button class="btn btn-default btn-bottom" ng-click="ctrl.close()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
