<link rel="stylesheet" href="/styles/station-suggestion.css" />
<div class="container container-white">
    <br>
    <form name="formSuggestion" class="form-horizontal">
        <legend>Sugerir nova instituição de saúde <i class="fa fa-plus-square" aria-hidden="true"></i></legend>
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-xs-3">
                    <label for="name">Nome da instituição:</label>
                </div>
                <div class="col-xs-4 col-xs-6">
                    <input id="name" name="name" type="text" class="form-control" ng-model="ctrl.station.name" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-xs-3">
                    <label for="location">Selecione a localização:</label>
                </div>
                <div class="col-xs-4 col-xs-6">
                    <input id="location" name="location" type="text" class="form-control" ng-model="ctrl.station.location" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="card station-card">
                <p class="card-text" ng-show="ctrl.urlImagem===undefined"><small class="text-muted">Nenhuma imagem selecionada</small></p>
                <img class="card-img-top imagem" ng-src="{{ctrl.urlImagem}}">
                <div class="card-block" ng-click="">
                    <span class="btn btn-file btn-info btn-sm">Possui uma imagem? Selecione!
                        <input name="imagem" type="file" ng-model="img" onchange="angular.element(this).scope().ctrl.loadImage(this.files[0])">
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-6">
               <button class="btn btn-success btn-bottom">Enviar para aprovação</button>
               <button class="btn btn-default btn-bottom">Cancelar</button>
            </div>
        </div>
    </form>
</div>