body {
    padding-top: 90px;
}
.panel-station {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-station>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-station>.panel-heading h4{
	padding: 5px;
	margin-bottom: 0px !important;
}

.panel-station>.panel-footer {
	padding: 10px;
	text-align:center;
}

.panel-station .subtitle {
	text-align: left;
	color: #b5b5b5;
    font-size: 14px;
    font-weight: normal;
    padding: 16px 40px 0px 40px;
}

.btn-invisible {
	background-color: transparent;
}

.btn-invisible:hover, .btn-invisible:active, .btn-invisible:focus, .btn-invisible:active:focus {
	color: black;
    outline: none;
}

.panel-station hr{
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
	border-top: 1px solid #efefef;
	height: 1px;
	margin: 16px 40px;
}

.review hr{
	margin: 16px 10px;
}

.panel-station input[type="text"],.panel-station input[type="email"],.panel-station input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-station input:hover,
.panel-station input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.panel-body {
	text-align: center;
}

.carousel-images {
	margin-right: 15px;
	margin-left: 15px;
}

.review {
	font-size: 14px;
    font-weight: normal;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

.new-review .footer {
	text-align: right;
	padding-right: 30px;
}

.new-review .score-comment {
	padding-right: 40px;
	padding-bottom: 10px;
	/*text-align: right;
	padding-right: 40px;*/
}

.new-review .score-panel {
	padding-top: 10px;
}

.review .score-label {
	text-align: right;
	padding-left: 0px;
	padding-right: 0px;
}

.review .score-star {
	text-align: left;
	color: #D8D300;
	font-size: 14px;
	padding-left: 8px;
	padding-right: 0px;
}

.score-star-general {
	color: #D8D300;
	font-size: 20px;
}

.new-score {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.new-score > i {
  display: inline-block;
  position: relative;
}

.new-score > i:before {
    content: "\f006";
}

.new-score > .selected:before {
    content: "\f005" !important;
}

.new-score > i:hover:before,
.new-score > i:hover ~ i:before {
   content: "\f005";
   /*position: absolute;*/
}

.new-score > i:hover {
   font-size: 16px;
}

.station-map {
	padding: 16px 60px;
}